.comment-info {
  display: flex;
  align-items: center; }

.comment-author {
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px 0 0; }

.comment-date {
  font-size: 11px;
  color: #808080; }

.comment-text {
  font-size: 14px;
  margin: 10px 0 20px 0;
  padding: 15px 20px 10px 20px;
  box-shadow: 0px 0px 2px 1px #d1d2d2;
  background-color: #f2fbff; }
